<% color_map = {'theater'=> '#FFFFFF', 'music'=> '#FFFFFF','film'=> '#FFFFFF','all culture'=>'#FFFFFF', 'custom'=> '#FFFFFF'} %>
<% color_map.each do |key, value| %>
<% if key == @title %>
<% color_map[key] = '#000000' %>
<% end %>
<% end %>

<% buttons_map = {'theater'=> 'buttons', 'music'=> 'buttons','film'=> 'buttons','all culture'=>'buttons', 'custom'=> 'buttons'} %>
<% buttons_map.each do |key, value| %>
<% if key == @title %>
<% buttons_map[key] = 'buttons_on' %>
<% end %>
<% end %>

      <div class="row-fluid" id="navbar">
          <table width="100%" border="0" cellpadding="0" cellspacing="8" bordercolor="#FFFFFF" bgcolor="#C5000E">
            <tr>
              <td width="29%" bgcolor="<%= color_map['theater'] %>">
                <div align="center" class="<%= buttons_map['theater'] %>">
              <%= link_to "theater & dance", :controller=>"tixbay", :action=>"theater"%>
                </div>
              </td>
              <td width="14%" bgcolor="<%= color_map['music'] %>">
                <div align="center" class="<%= buttons_map['music'] %>">
              <%= link_to "music", :controller=>"tixbay", :action=>"music" %>
                </div>
              </td>
              <td width="14%" bgcolor="<%= color_map['film'] %>">
                <div align="center" class="<%= buttons_map['film'] %>">
              <%= link_to "film", :controller=>"tixbay", :action=>"film"%>
                </div>
              </td>
              <td width="26%" bgcolor="<%= color_map['all culture'] %>">
                <div align="center" class="<%= buttons_map['all culture'] %>">
              <%= link_to "all culture", :controller=>"tixbay", :action=>"all_culture" %>
                </div>
              </td>
              <td width="17%" bgcolor="<%= color_map['custom'] %>">
                <div align="center" class="<%= buttons_map['custom'] %>">
              <%= link_to "custom", :controller=>"recommendations", :action=>"login" %>
                </div>
              </td>
            </tr>
          </table>
    </div>
