<% content_for :navbar do %>
<% render "tixbay/navbar" #render navbar partials here%>
<% end %>

<!--table width="100%" border="0" cellpadding="0" cellspacing="8" bgcolor="#C00000">
     <tr>
     <td width="100%" bgcolor="#000000"><div align="center" class="buttons_on" id="pagetitle"><%=  @title %></div>
     </td></tr></table-->
<h1 id="recommendation_header">Custom Recommendations</h1>

<div id="recommendation_welcome">
Welcome <%= @user %>!<br>
Please fill out this form so we can help you find shows.
</div>

<%= form_tag :action => "index" do %>
  <div class="recommendation_input">
    <div class="recommendation_header recommendation_section">Location</div>
    <div>
      <%= text_field :recommendation, :location, :id => "recommendation_location" %>
    </div>
  </div>
  <div class="recommendation_input">
    <div id="recommendation_category_header" class="recommendation_section recommendation_header">Category</div>
    <div class="recommendation_section">
      <label for="recommendation_category_theatredance">
        <%= check_box 'recommendation', 'theatre & dance', :id => 'recommendation_category_theatredance' %>
        Theatre & Dance
      </label>
      <label for="recommendation_category_music">
        <%= check_box 'recommendation', 'music', :id => 'recommendation_category_music' %>
        Music
      </label>
      <label for="recommendation_category_film">
        <%= check_box 'recommendation', 'film', :id => 'recommendation_category_film' %>
        Film
      </label>
    </div>
  </div>
  <div class="recommendation_input" id="recommendation_submit">
    <%= submit_tag value="Submit" %>
  </div>
<% end %>
