<% content_for :navbar do %>
<% render "navbar" #render navbar partials here%>
<% end %>

<!--title -->
<table width="100%" border="0" cellpadding="0" cellspacing="8" bgcolor="#C00000">
     <tr>
     <td width="100%" bgcolor="#000000"><div align="center" class="buttons_on" id="pagetitle"><%=  @title %></div>
     </td></tr></table>

<% @shows.each do |s| %>
<div class="show">
<h2><%= s.title %></h2>
<%= image_tag s.image_url, "width"=>"35%" %>
<p><%= s.summary %>
<p><a class="buytickets btn btn-danger" id="<%=s.id %>" href="<%= s.link %>">Purchase Tickets</a>
</div>
<hr/>
<% end %>
