<% content_for :navbar do %>
<% render "layouts/navbar" #render navbar partials here%>
<% end %>

<h2>Log In</h2>

<p>Log in or sign up to receive a recommended listing of shows based on your preferences and activity. </p>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <label class="checkbox">
      <input type="checkbox"> Remember Me
    </label>
  <% end -%>

  <br/>
  <button type="submit" class="btn btn-danger">Log In</button>
<% end %>


<div id="login_links">
  <%= render "devise/shared/links" %>
</div>

<br/>
<p><b>Don't want to sign up?</b>
<br/>You can still fill out a form for one-time show recommendations, but we won't be able to save your preferences and improve our recommendations if you choose this option.</p>
<a href="/recommendations/form" class="btn">Recommend without sign up</a>
