<% content_for :navbar do %>
<% render "layouts/navbar" #render navbar partials here%>
<% end %>

<% content_for :before_body_title do %>

<div class="well" id="listings">
<!--title -->
  <table width="100%" border="0" cellpadding="0" cellspacing="8" bgcolor="#C00000">
    <tr>
    <div class="show">
      <div class="btn"><%= link_to "Go back to listings", :back %></div>
      <td width="100%" bgcolor="#000000"><div align="center" class="buttons_on" id="pagetitle"><%= @current_title %></div>
    </div>
  </td></tr></table>

  <div class="show">
    <%= image_tag @current_show.image_url, "width"=>"35%" %>
    <p class="evTitle"><%= @current_show.title %>
    <p><%= @current_show.headline %>
    <p><b>Availible Dates:</b><%= @current_show.date_string %>
    <p><a class="venue_link" href="<%= @current_show.venue.link %>"><%= @current_show.venue.name %></a><br>
      <span class ="venue_address"><%= @current_show.venue.full_address %>
    <p><div class="summary more"><%=@current_show.summary %></div>
    <p class="pricing">Full Price: <span class ="prices"><%= @current_show.price_format('full') %>
    <p class="pricing">Goldstar Price: <span class ="prices"><%= @current_show.price_format('ours') %>
    <p><a class="buytickets btn btn-danger" id="<%=@current_show.id %>" href="<%= @current_show.link %>">Purchase Tickets</a>
  </div>
</div>

<% end %>

<table width="100%" border="0" cellpadding="0" cellspacing="8" bgcolor="#C00000" style="margin-bottom: 3%">
  <tr>
  <div class="show">
    <td width="100%" bgcolor="#000000"><div align="center" class="buttons_on" id="pagetitle">Similar Shows</div>
  </div>
</td></tr></table>

<% @shows.each do |s| %>
  <div class="show">
    <%= image_tag s.image_url, "width"=>"35%" %>
    <p><a class="linkTitle" href="<%= url_for(:controller => 'show', :action => 'show', :id => s.id) %>"><%= s.title %></a>
    <p><%= s.headline %>
    <p><b>Availible Dates:</b><%= s.date_string %>
    <p><a class="venue_link" href="<%= s.venue.link %>"><%= s.venue.name %></a><br>
      <span class ="venue_address"><%= s.venue.full_address %>
    <p><div class="summary more"><%=s.summary %></div>
    <p class="pricing">Full Price: <span class ="prices"><%= s.price_format('full') %>
    <p class="pricing">Goldstar Price: <span class ="prices"><%= s.price_format('ours') %>
    <p><a class="buytickets btn btn-danger" id="<%=s.id %>" href="<%= s.link %>">Purchase Tickets</a>
  </div>
  <hr/>
<% end %>

<% if @noShows == true %>
  <div id="no_shows">
    <h2>No Similar Shows Found</h2>
  </div>
<% end %>
