<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tixbay</title>
  <%= stylesheet_link_tag    "bootstrap.min.css" %>
  <%= stylesheet_link_tag    "old.css" %>
  <%= javascript_include_tag "bootstrap.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row-fluid">
    <%= link_to image_tag("redtopper.jpeg", "width"=>"100%", "id"=>"tixlogo"), "/" %>
    </div>
        <%= yield :navbar %>
    <!--
    <div class="row-fluid" id="navbar">
          <table width="100%" border="0" cellpadding="0" cellspacing="8" bordercolor="#FFFFFF" bgcolor="#C5000E">
            <tr>
              <td width="29%" bordercolor="#C00000" bgcolor="#000000"><div align="center" class="buttons_on">
              <% #link_to "theater & dance", :action=>"theater" %>
              </div></td>
              <td width="21%" bordercolor="#C00000" bgcolor="#FFFFFF"><div align="center" class="buttons">
              <% #link_to "music", :action=>"music" %>
              </div></td>
              <td width="21%" bordercolor="#C00000" bgcolor="#FFFFFF"><div align="center" class="buttons">
              <% #link_to "film", :action=>"film" %>
              </div></td>
              <td width="29%" bordercolor="#C00000" bgcolor="#FFFFFF"><div align="center" class="buttons">
              <% #link_to "all culture", :action=>"all_culture" %>
              </div></td>
              </tr>
          </table>
    </div>
        -->
    <div class="row-fluid">
      <div class="span9 well">
        <%= yield %>
      </div>
      <div class="span3 well" id="aboutme">
        <table width="100%" border="0" cellpadding="0" cellspacing="8" bordercolor="FFFFFF" bgcolor="C00000">
               <tr>
               <td width="100%" bordercolor="#C00000" bgcolor="000000"><div align="center" class="buttons_on aboutme_header">Did you know?</div></td></tr></table>
        <b>For every Goldstar ticket purchased through TIX, a substantial portion of the service charge you pay goes to the nonprofit charitable organization <%= link_to "Theatre Bay Area", 'http://www.theatrebayarea.org/' %> to support things like classes, grants, auditions, and health support for Bay Area artists and arts professionals.</b><br><br>
      </div>
      <div class="span3 well">
        Advertisement Here
      </div>
    </div>
  </div>
</body>
</html>
