<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tixbay</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

 <%= stylesheet_link_tag "application.css" %>

  <!-- FIX-ME: should be using this for javascript, but somehow
  category.js doesn't work with this
  javascript_include_tag "application.js" -->

  <%= javascript_include_tag "recommendations.js" %>
  <%= javascript_include_tag "show.js" %>
  <%= javascript_include_tag "category.js" %>
  <%= javascript_include_tag "global.js" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% if user_signed_in? %>
      <div class="user_button">
        <% if current_user.first_name %>
          <span class="login_border">
            <%= current_user.first_name %>
            <%= current_user.last_name %>
          </span>
          <span class="login_border"> | </span>
        <% end %>
        <%= link_to "Log Out", destroy_user_session_path, :method=>:delete, :id=>"log_out" %>
      </div>
   <% else %>
      <div class="user_button">
            <%= link_to "Log In", new_user_session_path %> <span class="login_border">
           <span class="login_border"> | </span>
           <%= link_to "Sign Up", new_user_registration_path %>
      </div>
    <% end %>
    <div class="row-fluid">
    <%= link_to image_tag("redtopper2.png", "height"=>"229", "width"=>"900", "id"=>"tixlogo", "align"=>"center", "style"=>"margin-left: 5%"), "/" %>
    </div>
    <%= yield :navbar %>

    <div class="row-fluid">
    <div class="span9">
        <table width="728" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
            <td><iframe src="https://servedbyadbutler.com/adserve/;ID=153389;size=728x90;setID=107856;type=iframe" width="728" marginwidth="0" height="90" marginheight="0" scrolling="No" frameborder="0" class="ad" style="margin: 0px; padding: 0px" allowtransparency="true" background-color="transparent">
            </iframe>
            <a href="http://www.theatrebayarea.org/advertise" target="_blank" class="eventheadline"><span class="eventheadline">Advertise with us</span></a></td>
            </tr>
        </table>

        <!-- for alert and notice messages -->
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <!-- only have contents if it is individual show view -->
        <%= yield :before_body_title %>

        <div class="well" id="listings">
          <%= yield %>
        </div>
      </div>
      <div class="span3" id="aboutme">
        <div id="back_top">
          <span>
          </span>
          Back to Top
        </div>
        <% if user_signed_in? %>
          <div class="well">
            <%= yield :viewed %>
          </div>
          <div class="well">
            <%= yield :favorited %>
          </div>
        <% end %>
        <div class="well">
        <table width="100%" border="0" cellpadding="0" cellspacing="8" bgcolor="C00000" id="aboutme_header">
               <tr>
               <td width="100%" bgcolor="000000"><div align="center" class="buttons_on">did you know?</div></td></tr></table>
        <b>For every Goldstar ticket purchased through TIX, a substantial portion of the service charge you pay goes to the nonprofit charitable organization <%= link_to "Theatre Bay Area", 'http://www.theatrebayarea.org/' %> to support things like classes, grants, auditions, and health support for Bay Area artists and arts professionals.</b><br><br>
        </div>

        <iframe src="http://ab153389.adbutler-kaon.com/adserve/;ID=153389;size=300x250;setID=139818;type=iframe" width="300" marginwidth="0" height="250" marginheight="0" scrolling="No" frameborder="0" class="ad" style="margin: 0px; padding: 0px" allowtransparency="true" background-color="transparent">
      </div>
    </div> <!-- end row fluid -->
  </div> <!-- end container -->
  <div id="footer">
  </div>
</body>
</html>
